<form class="form" action="/survey/index/result" method="post">
    <h3>Customer Feedback</h3>

  <table>
  <tr>
  <th> Name </th>
  <td> <input type="text" name="name" id ="name"></td>
  </tr>
  <tr>
  <th> Ratings </th>
  <td> <input type="radio" name="ratings" class="ratings"> 1 &emsp;
       <input type="radio" name="ratings" class="ratings"> 2 &emsp;
       <input type="radio" name="ratings" class="ratings"> 3 &emsp;
       <input type="radio" name="ratings" class="ratings"> 4 &emsp;
       <input type="radio" name="ratings" class="ratings"> 5</td>
  </tr>
  <tr>
  <th> Product Used </th>
  <td> <input type ="text" name="product_id" id="product_id"></td>
  </tr>
  <tr>
  <th> Message </th>
  <td> <input type="text" name="message" id="message"> </td>
  </tr>
  <br />
  <tr>
  <th> </th>
  <td> 

            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
  </td>

  </table>

</form>
